.home-image-container {
    position: relative;
    height: 550px;
    background: url('./homePicture.jpg') center/cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.home-container {
    font-family: 'Poppins';
}

.home-heading {
    color: #6678db;
}

.home-paragraph {
    margin-bottom: 20px;
}

.home-button {
    font-family: "Poppins";
    font-size: 15px;
    background-color: #6678db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 30px;
}

.home-button:hover {
    background-color: #5a6ac2;
}

.home-list {
    margin-top: 50px;
    padding: 0;
    margin-bottom: 50px;
    user-select: none;
}

.home-list-item {
    margin-bottom: 5px;
    position: relative;
    list-style-type: circle;
}

.home-image-container {
    position: relative;
    max-width: 100%;
}

.home-image {
    width: 100%;
    display: block;
}

.welcome-overlay {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-size: 20px;
    text-align: center;
    color: #000000;
    font-style: inherit;
}

.home-link {
    color: #6678db;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.home-link:hover {
    color: #444f8d;
    text-decoration: none;
}

.piano-position {
    margin-top: -90px;
}