.circle-container {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: radial-gradient(circle, #f0f0f0 50%, transparent 50%);
  overflow: hidden;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.center-circle {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.segment {
  position: absolute;
  width: 26.8%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 0%, 0 0%);
  transform-origin: 50% 50%;
  transition: background-color 0.3s;
}

.highlighted {
  background-color: #cfd6ff;
  color: #6678db;
}

.segment:hover {
  background-color: #e0e0e0;
}

.selected {
  background-color: #6678db;
  color: #fff;
}

.tonality-name {
  user-select: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 30px;
  transform: translateY(0%) rotate(0deg);
}

.tonality-name.bold{
  font-weight: bold;
}

.tonality-name.normal{
  font-weight:normal;
  color: #676767;
}


.degree {
  user-select: none;
  font-size: 15px;
  font-weight: bold;
  transform: rotate(0deg);
}

.segment:nth-child(1) {transform: rotate(0deg);}
.segment:nth-child(2) { transform: rotate(30deg); }
.segment:nth-child(2) .tonality-name,
.segment:nth-child(2) .degree { transform: rotate(-30deg); }
.segment:nth-child(3) { transform: rotate(60deg); }
.segment:nth-child(3) .tonality-name,
.segment:nth-child(3) .degree { transform: rotate(-60deg); }
.segment:nth-child(4) { transform: rotate(90deg); }
.segment:nth-child(4) .tonality-name,
.segment:nth-child(4) .degree { transform: rotate(-90deg); }
.segment:nth-child(5) { transform: rotate(120deg); }
.segment:nth-child(5) .tonality-name,
.segment:nth-child(5) .degree { transform: rotate(-120deg); }
.segment:nth-child(6) { transform: rotate(150deg); }
.segment:nth-child(6) .tonality-name,
.segment:nth-child(6) .degree { transform: rotate(-150deg); }
.segment:nth-child(7) { transform: rotate(180deg); }
.segment:nth-child(7) .tonality-name,
.segment:nth-child(7) .degree { transform: rotate(-180deg); }
.segment:nth-child(8) { transform: rotate(210deg); }
.segment:nth-child(8) .tonality-name,
.segment:nth-child(8) .degree { transform: rotate(-210deg); }
.segment:nth-child(9) { transform: rotate(240deg); }
.segment:nth-child(9) .tonality-name,
.segment:nth-child(9) .degree { transform: rotate(-240deg); }
.segment:nth-child(10) { transform: rotate(270deg); }
.segment:nth-child(10) .tonality-name,
.segment:nth-child(10) .degree { transform: rotate(-270deg); }
.segment:nth-child(11) { transform: rotate(300deg); }
.segment:nth-child(11) .tonality-name,
.segment:nth-child(11) .degree { transform: rotate(-300deg); }
.segment:nth-child(12) { transform: rotate(330deg); }
.segment:nth-child(12) .tonality-name,
.segment:nth-child(12) .degree { transform: rotate(-330deg); }

