.quiz-tile {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 500px;
  max-height: 490px;
  margin: 20px auto;
}

.melody-recognition-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  max-height: 650px;
  margin: 20px auto;
}

.chord-recognition-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1150px;
  max-height: 680px;
  margin: 20px auto;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.back-icon {
  font-size: 1.6em;
}

.summary-icon {
  padding: 30px;
  font-size: 3em;
  color: #6678db
}

.quiz-container {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.quiz-title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  flex: 1;
  text-align: center;
}

.question-title {
  font-family: 'GT', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.quiz-content {
  margin-top: 20px;
}

.options-container {
  display: grid;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.options-container.six-elements {
  grid-template-columns: repeat(3, 1fr);
}

.options-container.four-elements {
  grid-template-columns: repeat(2, 1fr);
}

.note-option {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease, color 0.3s ease, pointer-events 0.3s ease, border-color 0.3s ease;
}

.note-option.padding-0 {
  padding: 0;
}

.note-option.padding-20 {
  padding: 20px;
}

.note-option:hover {
  background-color: #e0e0e0;
}

.note-option.selected {
  pointer-events: none;
  background-color: #d4edda;
  color: #2a6f52;
  border-color: #2a6f52;
}

.note-option.correct {
  background-color: #d4edda;
  color: #2a6f52;
  border-color: #2a6f52;
}

.note-option.incorrect.selected {
  background-color: #f8d7da;
  color: #85333b;
  border-color: #85333b;
}

.note-option.incorrect {
  background-color: #f8d7da;
  color: #85333b;
  border-color: #85333b;
}

.next-btn {
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-btn:hover {
  border: 1px solid #ccc;
  background-color: #f3f3f3;
  color: #4d4d4d;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  box-shadow: 0 8px 6px -6px #ccc;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
}

.summary-screen {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  min-width: 400px;
}

.summary-text {
  margin-bottom: f40px;
}

.restart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6678db;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 10px;
  border: 1px solid #6678db;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%
}

.restart-btn:hover {
  border: 1px solid #ffffff;
  background-color: #6678db;
  color: #ffffff;
}

.timer-bar {
  height: 5px;
  animation: 5s colorChange alternate infinite;
  background-color: #6678db;
  transition: background-color 0.3s ease;
}

.question-number {
  user-select:inherit;
  margin-top: 23px;
}

.clock-container {
  margin-top: 5px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.clock {
  display: inline-flex;
  background-color: #6678db;
  width: 65px;
  height: 27px;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  color: white;
  transition: background-color 0.3s ease;
}

.gray {
  background-color: rgb(161, 161, 161);
}

.remaining-time {
  margin-top: 1px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-left: 5px;
}

.clock-icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 4px;
}

.warning-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 400px;
  text-align: center;
}

.play-btn {
  background-color: #6678db;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 0px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.play-btn:hover {
  background-color: #4a60da;
}

.play-btn.playing::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6678db5a;
  border-radius: 100%;
  animation: pulse 2s infinite;
  pointer-events: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.play-icon {
  font-size: 60px;
}

.selected-keys-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.selected-text-align {
  margin-top: 6px;
  margin-bottom: 0px;
}

.selected-chord {
  margin-top: -5px;
  height: 65px;
  width: 65px;
  background-color: #6678db;
  border: solid 3px #6170c2;
  color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.selected-key.correct {
  background-color: #d4edda;
  color: #2a6f52;
  border-color: #2a6f52;
}

.selected-key.incorrect {
  background-color: #f8d7da;
  color: #85333b;
  border-color: #85333b;
}

.selected-key {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  align-items: center;
  text-align: center;
  border: solid 1px #ccc;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  height: 50px;
  width: 50px;
}