.TopMenu {
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.TopMenu .logoContainer {
  margin-left: 15px;
}

.TopMenu .logo {
  width: 205px;
  height: 30px;
  transition: all 0.3s;
}

.TopMenu .menuItems {
  display: flex;
}

.TopMenu .menuItems a {
  color: #000000;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  margin: 30px;
  align-items: center;
  position: relative;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.TopMenu .menuItems a:hover {
  opacity: 1;
}

.TopMenu>.menuItems>a::before {
  content: "";
  position: absolute;
  left: -10%;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background: #000000;
  transition: transform 0.45s, width 0.45s;
  transform: scaleX(0);
  transform-origin: left;
}

.TopMenu>.menuItems>a:hover::before {
  width: 120%;
  transform: scaleX(1);
}

.TopMenu .menuItems a.active::before {
  width: 120%;
  transform: scaleX(1);
}

.TopMenu .accountButtons {
  display: flex;
  gap: 10px;
}

.TopMenu .loginContainer {
  margin-right: 15px;
}

.TopMenu .loginButton {
  border: 1px solid #e2e2e2;
  background-color: #f4f4f4;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px;
  text-align: center;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.TopMenu .loginButton:hover {
  border: 1px solid #e2e2e2;
  background-color: #e2e2e2;
  color: #000000;
}

.TopMenu .signinButton {
  border: 1px solid #141414;
  background-color: #303030;
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Poppins', sans-serif;
  padding: 10px 15px;
  text-align: center;
  height: 50px;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.TopMenu .signinButton:hover {
  border: 1px solid #141414;
  background-color: #141414;
  color: #ffffff;
}

.TopMenu .loginButton .iconUser {
  margin-right: 5px;
  margin-bottom: 0px;
  font-size: 0.7em;
  vertical-align: middle;
}

.TopMenu .loginButton:hover .iconUser {
  color: #000000;
}

.TopMenu .menuToggle {
  display: none;
  cursor: pointer;
}

.TopMenu .menuToggle div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #000000;
  transition: 0.3s ease-in;
}

.footer {
  flex-shrink: 0;
  font-family: "Poppins";
  color: #303030;
  background-color: #f0f0f0;
  padding: 8px;
  text-align: center;
  margin-top: auto;
}
.miniatureLogo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 1100px) {
  .TopMenu>.menuItems {
    position: absolute;
    top: 60px;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 350px;
    transform: translateX(-100%);
    transition: all .45s;
    z-index: 3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .TopMenu .logo {
    width: 190px;
    height: 30px;
  }

  .TopMenu>.menuItems>a::before {
    background: transparent;
  }

  .TopMenu>.menuItems>:hover{
    color: #6678db;
    transition: ease-in-out 0.2s;
  }

  .TopMenu>.menuItems.open {
    transform: translateX(0);
  }

  .TopMenu>.menuToggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .TopMenu>.menuToggle div {
    width: 33px;
    height: 2px;
    background: #000000;
    transition: 0.3s ease-in;
  }

  .menuToggle>.bar {
    position: relative;
    width: 33px;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }

  .menuToggle>.bar::before,
  .menuToggle>.bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background: #000000;
    transition: all 0.45s ease-in-out;
  }

  .menuToggle>.bar::before {
    width: 33px;
    transform: translateY(-8px);
    right: 0;
  }

  .menuToggle>.bar::after {
    width: 33px;
    transform: translateY(8px);
    left: 0;
  }

  .menuToggle.open>.bar {
    transform: translateX(0px);
    background: transparent;
  }

  .menuToggle.open>.bar::before {
    width: 33px;
    transform: rotate(45deg) translate(0px, 0px);
  }

  .menuToggle.open>.bar::after {
    width: 33px;
    transform: rotate(-45deg) translate(0px, 0px);
  }
}