.about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.project-section {
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 2px -2px rgb(225, 225, 225);
    position: relative;
}

.project-section h3 {
    color: #000000;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-size: 20px;
}

.edit-buttons {
    justify-content: space-between;
    display: flexbox;
    align-items: center;
}

.edit-buttons button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.edit-buttons.accept {
    background-color: rgb(83, 203, 83);
}

.edit-buttons.accept:hover {
    background-color: rgb(60, 152, 60);
}

.edit-buttons.decline {
    background-color: rgb(218, 62, 62);
}

.edit-buttons.decline:hover {
    background-color: rgb(187, 35, 35);
}

.edit-buttons.normal {
    background-color: #6678db;
}

.edit-buttons button:hover {
    background-color: #5a68b9;
}

.edit-buttons button:disabled {
    background-color: #ddd;
    color: #666;
    cursor: not-allowed;
}

.add-new-button {
    margin-top: 20px;
    text-align: center;
}

.add-new-button button {
    padding: 10px 25px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: solid 1px black;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.add-new-button button:hover {
    background-color: #e8e8e8;
    border: solid 1px rgb(170, 170, 170);
    color: black;
}

.text-display {
    margin-left: 8px;
    margin-top: 20px;
    display: flex;
    font-size: 16px;
    font-family: "Poppins";
    user-select: none;
}

.select-option {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 10px;
}

.desccription {
    margin-top: 0px;
    margin-left: 8px;
    color:#666;
    text-align: left;
}

.change-title {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-sizing: border-box;
}

.react-quill {
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.ql-toolbar {
    border-bottom: 1px solid #e0e0e0;
    border-radius: 4px 4px 0 0;
}

.ql-editor {
    padding: 10px;
    min-height: 150px;
    border-radius: 0 0 4px 4px;
}

.icon-setup {
    margin-bottom: -0.5px;
    margin-left: 5px;
    font-size: 15px;
}

.default-left {
    text-align: left;
}

.ql-align-center {
    text-align: center;
}

.ql-align-left {
    text-align: left;
}

.ql-align-justify {
    text-align: justify;
}

.ql-align-right {
    text-align: right;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before {
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'TNR';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='roboto']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='roboto']::before {
    content: 'Roboto';
    font-family: 'Roboto';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='poppins']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='poppins']::before {
    content: 'Poppins';
    font-family: 'Poppins';
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman', Times, serif
}

.ql-font-roboto {
    font-family: 'Roboto', sans-serif;
}

.ql-font-poppins {
    font-family: 'Poppins', sans-serif;
}

.ql-size-small {
    font-size: small;
}

.ql-size-large {
    font-size: x-large;
}

.ql-size-huge {
    font-size: xx-large;
}