.piano {
  width:1022px;
  min-height:250px;
  margin:auto;
  background-color:#2b2b2b;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
  padding: 15px 35px 30px 20px;
  border-radius:10px;
  position:relative;
  margin-bottom:15px;
}

.piano__top-bar {
  height: 5px;
  margin:-5px;
  background: linear-gradient(to bottom, rgba(187, 0, 51, 0.5), rgba(187, 0, 51, 1));
  position: absolute;
  top: 0;
  left: 6px;
  right: 14.8px;
}

.piano label {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.piano-settings {
  display: flex;
  align-items: center;
}

.piano__scale {
  left: 11.5px;
  top: 20px;
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.piano__scale.hide-keys {
  font-size: 0;
}

.piano__scale.show-keys {
  font-size: 12px; 
}

.piano__scale li {
  padding:0;
  margin:0 0 0 -14px;
  width:45px;
  height:200px;
  cursor:pointer;
  float:left;
  position:relative;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
  z-index:1;
  background:#fff; /* Starsze przeglądarki */
  background:   -moz-linear-gradient(top,  #fff 0%, #d1cfcf 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top,  #fff 0%,#d1cfcf 100%); /* Chrome10-25,Safari5.1-6 */
  background:        linear-gradient(to bottom,  #fff 0%,#d1cfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 0 0 6px 6px;
}

.piano__scale li.active {
  background:#888888;
  -webkit-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
     -moz-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
          box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
}

.piano__scale li.half {
  margin-left:1px;
}

.piano__scale li.flat {
  background:#4f4f4f; /* Starsze przeglądarki */
  background: linear-gradient(to bottom,  rgba(56,56,56,1) 0%,rgba(89,89,89,1) 8%,rgba(102,102,102,1) 17%,rgba(71,71,71,1) 25%,rgba(17,17,17,1) 40%,rgba(17,17,17,1) 40%,rgba(17,17,17,1) 49%,rgba(17,17,17,1) 49%,rgba(17,17,17,1) 61%,rgba(0,0,0,1) 71%,rgba(17,17,17,1) 81%,rgba(44,44,44,1) 84%,rgba(81,81,81,1) 86%,rgba(44,44,44,1) 87%,rgba(44,44,44,1) 88%,rgba(44,44,44,1) 89%,rgba(28,28,28,1) 91%,rgba(0,0,0,1) 97%,rgba(0,0,0,1) 100%);
  height:125px;
  z-index:2;
  width:30px;
  margin-left:-15px;
  -webkit-box-shadow:inset 0 -15px 5px 2px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -15px 5px 2px rgba(0,0,0,1);
          box-shadow:inset 0 -15px 5px 2px rgba(0,0,0,1);
}

.piano__scale li.flat.active {
  background: linear-gradient(to bottom, rgba(15,15,15,1) 0%,rgba(88,88,88,1) 40%,rgba(127,127,127,1) 67%,rgba(44,44,44,1) 89%,rgba(80,80,80,1) 91%,rgba(44,44,44,1) 92%,rgba(44,44,44,1) 92%,rgba(20,20,20,1) 93%,rgba(0,0,0,1) 95%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-box-shadow:inset 0 -10px 10px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -10px 10px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -10px 10px 1px rgba(0,0,0,1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 25px;
}

.switch input:checked + .slider {
  background-color: #0075ff;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.icon.setup {
  font-size: 1.2em !important;
  display: inline-block;
  color: white !important;
  overflow: hidden;
}

.icon-container {
  margin-top: 3px;
  cursor: pointer;
  vertical-align: middle;
  align-items: 'center';
  margin-right: 10px;
}

.volume-slider {
  margin-right: 15.5px;
}

.volume.mute {
  margin-left: 0px;
}

.volume.unmute {
  margin-right: 7.5px;
}

.showKeysLabel {
  margin-right: 0;
  margin-left: auto;
  user-select: none; 
}

